Array/EASY/A01_Build_Array_from_Permutation.java
Array/EASY/A02_Concatenation_of_Array.java
Array/EASY/A03_ShuffletheArray.java
Array/EASY/A04_FinalValueofVariableAfterPeformingOperations.java
Array/EASY/A05_NumberofGoodPairs.java
Array/EASY/A06_KidsWiththeGreatestNumberofCandies.java
Array/EASY/A07_RichestCustomerWealth.java
Array/EASY/A08_LeftandRightSumDifferences.java
Array/EASY/A09_RunningSumof1dArray.java
Array/EASY/A10_MaximumNumberofWordsFoundinSentences.java
Array/EASY/A11_HowManyNumbersAreSmallerThantheCurrentNumber.java
Array/EASY/A12_DecodeXORedArray.java
Array/EASY/A13_DecompressRunLengthEncodedList.java
Array/EASY/A14_ShuffleString.java
Array/EASY/A15_SumMultiples.java
Array/EASY/A16_CountItemsMatchingaRule.java
Array/EASY/A17_DifferenceBetweenElementSumandDigitSumofanArray.java
Array/EASY/A18_CheckIfTwoStringArraysareEquivalent.java
Array/EASY/A19_NumberofArithmeticTriplets.java
Array/EASY/A20_SumofAllOddLengthSubarrays.java
Array/EASY/A21_TruncateSentence.java
Array/EASY/A22_LargestLocalValuesinaMatrix.java
Array/EASY/A23_MatrixDiagonalSum.java
Array/EASY/A24_CountNumberofPairsWithAbsoluteDifferenceK.java
Array/EASY/A25_MaximumSumWithExactlyKElements.java
Array/EASY/A26_RotateArray.java
Array/EASY/A27_Reverse_a_Array.java
Array/EASY/A28_SumOfMaxAndMinlementInAnArray.java
Array/EASY/A29_KthLargestElement.java
Array/EASY/A30_sort_0_1_2_withOutSortAlgo.java
Array/EASY/A31_WithSortAlgoSort012.java
Array/EASY/A32_MoveAllNegativeToLeft.java
Array/EASY/A33_MaxSumOfContinuSubarray.java
Array/EASY/A34_UnionOfTwoArray.java
Array/EASY/A36_RotateAnArray.java
Array/EASY/A37_MaxSumOfASubArrayKadanesAlgo.java
Array/EASY/A38_MinimizeTheHeights.java
Array/EASY/A39_MinimumNumberOfJumps.java
Array/EASY/A40_FindTheDuplicateNumber.java
Array/EASY/A41_MergeWithoutExtraSpace.java
Array/EASY/A42_MergeIntervals.java
Array/EASY/A44_BestTimeToBuyAndSellStock.java
Array/EASY/A45_CountPairsWithGivenSum.java
Array/EASY/A46_CommonElements.java
Array/EASY/A47_RearrangeArrayInAlternatinPositiveAndNegativeItems.java
Array/EASY/A48_CountMoreThanNbyKOccurences.java
Array/EASY/A51_ChocolateDistributionProblem.java
Array/EASY/A52_ThreeWayPartitioning.java
Array/EASY/A53_FindTheMedian.java
Array/EASY/A54_PalindromicArray.java
Array/EASY/A55_ArraySubsetOfAnotherArray.java
Array/EASY/A56_MedianOfTwoSortedArraysOfDifferentSizes.java
Array/EASY/A57_TrappingRainWater.java
Array/EASY/A58_MinimumSwapsAndKTogether.java
Array/EASY/A59_TripletSumInArray.java
Array/EASY/A60_SmallestSubarrayWithSumGreaterThanX.java
Array/MEDIUM/A43_NextPermutation.java
Array/MEDIUM/A49_LongestConsecutiveSubsequence.java
Array/MEDIUM/A50_BuyAndSellAShareAtMostTwice.java
